/* global */

.wf-mplus1plight-n4-active body {
    font-family: mplus-1p-light;
}

body {
    min-width: 600px;
    color: rgb(38, 46, 61);
}

a {
    text-decoration: none;
}

a:hover {
    color: #428bca;
}

.wf-mplus1pregular-n4-active h1,
.wf-mplus1pregular-n4-active h2,
.wf-mplus1pregular-n4-active h3,
.wf-mplus1pregular-n4-active h4,
.wf-mplus1pregular-n4-active h5,
.wf-mplus1pregular-n4-active h6 {
    font-family: mplus-1p-regular;
}

.fa-twitter:before {
    color: #55acee;
}

.fa-star:before {
    font-size: 1.2em;
}

table {
    font-size: 1em;
}

.wf-mplus1pregular-n4-active thead {
    font-family: mplus-1p-regular;
}

thead > tr {
    background: #f9f9f9;
}

tr.limited {
    background: aliceblue !important;
}

tr.submitted {
    background: #ffe4c4;
}

tr.solved {
    background: #D0FFD0;
}

tr.target_solved {
    background: pink;
}

tr.both_solved {
    background: skyblue;
}

td {
    vertical-align: middle !important;
}

td.time {
    font-size: 1em;
}

div.input-group > select.form-control {
    -webkit-appearance: none;
    border: 0px 0px 4px 4px;
}

img.icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
    border-radius: 2px;
}

/* body/ */
#sidebar {
    float: left;
    width: 160px;
    min-height: 500px;
    position: fixed;
}

#main {
    margin-left: 16px;
    height: 100%;
}

/* body/sidebar/ */
#home {
    text-align: center;
    padding-top: 5px;
    margin-bottom: 20px;
}

#home > a {
    text-decoration: none;
    color: rgba(38, 46, 61, 0.9);
}

#home > a > i {
    font-size: 100px;
}

.wf-mplus1pregular-n4-active #home > a > h3 {
    font-family: mplus-1p-bold;
}

#home > a > h3 {
    margin-top: 0px;
}

#sidelinks > a {
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: block;
}

#sidelinks > a:hover {
    background: rgb(254, 244, 229);
    text-decoration: none;
}

#sidelinks > a.active {
    background: aliceblue;
}

#side_ads {
    margin-top: 20px;
    margin-left: 10px;
}

#ads_amazon {
    margin-left: 5px;
}


/* body/main/ */
#header {
    margin-top: 5px;
    margin-right: 5px;
    float: right;
    margin-bottom: 4px;
}

#body {
    height: 100%;
    font-size: 0px;
}

#footer {
    height: 100px;
}

/* body/main/header/ */
#header > div#login > a {
    color: rgb(38, 46, 61);
    margin-left: 10px;
}

#header > div#login > a i {
    font-size: 1.8em;
}

#header > div#usermenu > ul > li > a > i {
    margin-right: 5px;
}

#header-alert {
    padding-top: 10px;
    padding-right: 10px;
}

#anony-name {
    width: 150px;
    margin-right: 10px;
    display: initial;
}

/* body/main/body/ */
.wf-mplus1plight-n4-active #toplinks {
    font-family: mplus-1p-light;
}

#toplinks {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: 14px;
    margin-bottom: -1px;
}

#toplinks > div {
    background: -webkit-linear-gradient(top, white 0%, rgb(189, 191, 196) 100%);
    background: -moz-linear-gradient(top center, white 0%, rgb(189, 191, 196) 100%);
    background: linear-gradient(to bottom, white 0%, rgb(189, 191, 196) 100%);
}

#toplinks > div.left {
    float: left;
}

#toplinks > div.right {
    float: right;
    margin-right: 8px;
}

#toplinks > div > a {
    float: left;
    padding-bottom: 5px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(38, 46, 61, 0.3);
    margin-right: 1px;
    color: rgb(119, 119, 119);
    background: -webkit-linear-gradient(top, white 0%, rgb(241, 242, 243) 100%);
    background: -moz-linear-gradient(top center, white 0%, rgb(241, 242, 243) 100%);
    background: linear-gradient(to bottom, white 0%, rgb(241, 242, 243) 100%);

}

#toplinks > div > a:hover {
    text-decoration: underline;
}

#toplinks > div > a:first-child {
    margin-left: 1px;
}

#toplinks > div > a.active {
    background: white;
    border-bottom: 1px solid white;
    color: rgb(70, 70, 70);
}

#toplinks > div > a.active:hover {
    text-decoration: none;
}

#content {
    position: relative;
    z-index: 0;

    border-left: 1px solid rgb(189, 191, 196);
    border-top: 1px solid rgb(189, 191, 196);
    border-bottom: 1px solid rgb(189, 191, 196);
    min-height: 600px;

    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;

    font-size: 14px;
}

.table_username {
    max-width: 150px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#usermenu {
    max-width: 150px;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
}

.label_username {
    max-width: 200px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#content .shadow {
    border-left: 10px solid rgb(197, 219, 238);
    border-bottom: 1px solid rgb(197, 219, 238);
    padding-left: 7px;
    padding-bottom: 4px;
}

#yggdore {
    text-align: center;
}

a#notification_count {
    float: right;
    border-radius: 9pt;
    background-color: indianred;
    width: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.3rem;
    margin-right: 2pt;
    cursor: pointer;

    text-decoration: none;
    color: white;
    display: none;

}

.fav {
    color: #E1235E;
}